html {
  font-family: Arial;
  font-size: 14px; }

body {
  background: url('glasgow-subway.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0; }

a, a:visited, a:active {
  color: rgba(114, 166, 3, 0.9); }

main {
  padding: 2em; }

div, nav, section, main, header, footer {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top; }

p, h1, h2, h3, h4, h5, h6, ul, li, section {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: lighter; }

p {
  margin: 0 0 1em 0;
  line-height: 1.3; }

li {
  line-height: 1.3; }

ul {
  padding: 0 0 0 2em;
  margin: 0 0 1em 0; }

h2 {
  font-size: 2.5em;
  color: white;
  letter-spacing: 4px;
  text-align: left;
  margin: 1em 0 0 0;
  background: rgba(255, 73, 30, 0.8);
  padding: 0.3em;
  display: inline-block; }

h3 {
  font-weight: bold;
  margin-bottom: 1em; }

h4, h5 {
  color: white;
  background: rgba(114, 166, 3, 0.9);
  text-align: right;
  padding: 0.3em;
  font-size: 1.5em; }

h5 {
  font-size: 1.3em; }

img {
  width: 100%; }

.half, .third, .two-thirds {
  width: 50%;
  float: left;
  padding: 1em;
  background: white; }

.third {
  width: 33.33%; }

.two-thirds {
  width: 66.66%; }

.row {
  overflow: auto;
  padding: 1em;
  background: white; }

.pale {
  background: rgba(114, 166, 3, 0.1);
  margin-top: 1em; }

.intro {
  font-size: 1.2em; }

.skills {
  font-weight: bold;
  color: #ff491e; }

.boxed {
  padding: 1em;
  background: rgba(114, 166, 3, 0.1); }

main {
  max-width: 960px;
  margin: 3em auto; }

@media print {
  /* All your print styles go here */
  nav {
    display: none !important; }
  html {
    font-size: 12px; } }
