
//
// VARIABLES
//

// Colors
$lightBlue: #74a7da;
$blue: #4183C4;

// Grays
$white: #fff;
$lightGray: #eee;
$lessLightGray: #ddd;
$mediumGray: #6d6d6d;
$gray: #666;
$darkGray: #333;
$darkerGray: #222;
$black: #000;

// Default paragraph text
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Headings
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Not used?
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}